<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginDAO">

<update id="keepLogin" parameterType="map">
	UPDATE
		TB_MEMBER
	SET
		SESSIONKEY = #{SESSIONID ,jdbcType=VARCHAR},
		SESSIONLIMIT = #{SESSIONLIMIT ,jdbcType=VARCHAR}
	WHERE
		USER_ID = #{loginId.userEmail ,jdbcType=VARCHAR}
</update>

<select id="checkUserInfoWithCookie" resultType="com.web.test.member.vo.MemberVO" parameterType="map">
	SELECT 
		USER_NM USERNM,
		USER_ID USEREMAIL,
		USER_PW USERPASS,
		USER_PHONE USERPHONE,
		POST_CODE POST_CODE,
		ADDR ADDR,
		DETAIL_ADDR DETAIL_ADDR,
		REG_DT REG_DT,
		USE_YN USE_YN
	FROM 
		TB_MEMBER
	WHERE
		SESSIONKEY = #{SESSIONID ,jdbcType=VARCHAR}
	AND
		SESSIONLIMIT <![CDATA[ > ]]> SYSDATE
			
</select>
</mapper>