<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDAO">

<insert id="insertMember" parameterType="com.web.test.member.vo.MemberVO">
	INSERT INTO TB_MEMBER(
		USER_NM,
		USER_ID,
		USER_PW,
		USER_PHONE,
		POST_CODE,
		ADDR,
		DETAIL_ADDR,
		REG_DT,
		USE_YN
	) VALUES(
		#{userNm},
		#{userEmail},
		#{userPass},
		#{userPhone},
		#{post_code},
		#{addr},
		#{detail_addr},
		SYSDATE,
		#{use_yn}
	)
</insert>

<select id="email_check" resultType="Integer" parameterType="com.web.test.member.vo.MemberVO">
	SELECT 
		COUNT(*)
	FROM 
		TB_MEMBER
	WHERE 
		1=1
		<if test="userEmail != null and userEmail != ''">
			AND USER_ID = #{userEmail}
		</if>
		<if test="snsType != null and snsType != ''">
			AND SNS_TYPE = #{snsType}
		</if>

</select>

<select id="memberInfo" resultType="com.web.test.member.vo.MemberVO" parameterType="com.web.test.login.vo.LoginVO">
	SELECT 
		USER_NM USERNM,
		USER_ID USEREMAIL,
		USER_PW USERPASS,
		USER_PHONE USERPHONE,
		POST_CODE POST_CODE,
		ADDR ADDR,
		DETAIL_ADDR DETAIL_ADDR,
		REG_DT REG_DT,
		USE_YN USE_YN,
		SNS_TYPE SNSTYPE,
		SNS_EMAIL SNSEMAIL,
		SESSIONKEY SESSIONKEY,
		SESSIONLIMIT SESSIONLIMIT
	FROM 
		TB_MEMBER
	WHERE
		1=1
		<if test="userEmail != null and userEmail != ''">
			AND USER_ID = #{userEmail}
		</if>
		<if test="userPw != null and userPw != ''">
			AND USER_PW = #{userPw}
		</if>
</select>


<insert id="naverSign_upAct" parameterType="com.web.test.member.vo.MemberVO" >
	INSERT INTO TB_MEMBER(
		USER_NM,
		USER_ID,
		SNS_EMAIL,
		SNS_TYPE,
		REG_DT,
		USE_YN
	) VALUES(
		#{userNm},
		#{userEmail},
		#{snsEmail},
		#{snsType},
		SYSDATE,
		#{use_yn}
	)
</insert>

<select id="snsMemberInfo" parameterType="com.web.test.member.vo.MemberVO" resultType="com.web.test.member.vo.MemberVO">
	SELECT 
		USER_NM USERNM,
		USER_ID USEREMAIL,
		REG_DT REG_DT,
		USE_YN USE_YN,
		SNS_EMAIL SNSEMAIL,
		SNS_TYPE SNSTYPE
	FROM
		TB_MEMBER
	WHERE
		1=1
	<if test="userEmail != '' and userEmail != null">
		AND USER_ID = #{userEmail}
	</if>
	<if test="snsType != '' and snsType != null ">
		AND SNS_TYPE = #{snsType}
	</if>			
	
</select>

<insert id="kakaoSign_upAct" parameterType="com.web.test.member.vo.MemberVO" >
	INSERT INTO TB_MEMBER(
		USER_ID,
		SNS_EMAIL,
		SNS_TYPE,
		REG_DT,
		USE_YN
	) VALUES(
		#{userEmail},
		#{snsEmail},
		#{snsType},
		SYSDATE,
		#{use_yn}
	)
</insert>

<insert id="facebookSign_upAct" parameterType="com.web.test.member.vo.MemberVO">
	INSERT INTO TB_MEMBER(
		USER_NM,
		USER_ID,
		SNS_EMAIL,
		SNS_TYPE,
		REG_DT,
		USE_YN
	) VALUES(
		#{userNm},
		#{userEmail},
		#{snsEmail},
		#{snsType},
		SYSDATE,
		#{use_yn}
	)
</insert>

</mapper>